.col-1, .col-2, .col-3, .col-4, .col-5, .col-6{ float:left}
/*======= width =======*/
.main{margin:0 auto; text-align:left; width:953px; }

/*======= header =======*/
#header {height:156px;}

/*======= index.html =======*/
#page1 #kontent .block .col-1{ width:255px; margin-right:55px}
#page1 #kontent .block .col-2{ width:255px; margin-right:50px}
#page1 #kontent .block .col-3{ width:250px; margin-right:0}
#page1 #kontent .block .bg{ background:url('<?=form::mlink('img', SKN .'images'.SH.'tail1.gif')?>') repeat-y 278px top } 
#page1 #kontent .block .bg1{ background:url('<?=form::mlink('img', SKN .'images'.SH.'tail1.gif')?>') repeat-y 585px top } 
#page1 #kontent .col-1{ width:572px; margin-right:46px}
#page1 #kontent .col-2{ width:260px; margin-right:0}
#page1 #kontent .col-3{ width:236px; margin-right:0}
#page1 #kontent .col-4{ width:330px; margin-right:0}
#page1 #kontent .col-5{ width:86px; margin-right:0}
#page1 #kontent .col-6{ width:160px; margin-right:0}
#page1 #kontent .col-1 .col-1{ width:227px; margin-right:52px}
#page1 #kontent .col-1 .col-2{ width:227px; margin-right:0}
#page1 #kontent .bg{ background:url('<?=form::mlink('img', SKN .'images'.SH.'tail.gif')?>') repeat-y 587px top } 
/*====== index-1.html =======*/
#page2 #kontent .col-1{ width:572px; margin-right:46px}
#page2 #kontent .col-2{ width:250px; margin-right:0}
#page2 #kontent .bg{ background:url('<?=form::mlink('img', SKN .'images'.SH.'tail.gif')?>') repeat-y 587px top } 
#page2 #kontent .col-3{ width:255px; margin-right:55px}
#page2 #kontent .col-4{ width:255px; margin-right:0}
/*======= index-2.html =======*/
#page3 #kontent .col-1{ width:250px; margin-right:62px}
#page3 #kontent .col-2{ width:558px; margin-right:0}
#page3 #kontent .bg{ background:url(images/tail.gif) repeat-y 281px top } 
/*======= index-3.html =======*/
#page4 #kontent .col-1{ width:572px; margin-right:46px}
#page4 #kontent .col-2{ width:250px; margin-right:0}
#page4 #kontent .bg{ background:url('<?=form::mlink('img', SKN .'images'.SH.'tail.gif')?>') repeat-y 587px top } 
#page4 #kontent .col-3{ width:220px; margin-right:0}
#page4 #kontent .col-4{ width:240px; margin-right:0}
/*======= index-4.html =======*/
#page5 #kontent .col-1{ width:572px; margin-right:46px}
#page5 #kontent .col-2{ width:250px; margin-right:0}
#page5 #kontent .bg{ background:url('<?=form::mlink('img', SKN .'images'.SH.'tail.gif')?>') repeat-y 587px top } 
