#fileQueue {
	width: auto;
	height: auto;
	overflow: auto;
	border: 1px solid #E5E5E5;
	margin:auto;
	padding:auto;
	margin-bottom: 10px;
}
.uploadifyQueueItem {
	font: 9px Verdana, Geneva, sans-serif;
	border: 2px solid #E5E5E5;
	background-color: #f3f3f3;
	margin-top: 5px;
	padding: 5px;
	width: 200px;
}
.uploadifyError {
	border: 2px solid #FBCBBC !important;
	background-color: #FDE5DD !important;
}
.uploadifyQueueItem .cancel {
	float: <?=txt('align2')?>;
}
.uploadifyProgress {
	background-color: #FFFFFF;
	border-top: 1px solid #808080;
	border-left: 1px solid #808080;
	border-right: 1px solid #C5C5C5;
	border-bottom: 1px solid #C5C5C5;
	margin-top: 10px;
	width: 100%;
}
.uploadifyProgressBar {
	background-color: #00FF33;
	width: 1px;
	height: 3px;
}