<?php
$pageWidth  = '850';	
$pageHeight = '400';
    
    
?>


        
* { margin:0; padding:0;}
html, body { height:100%; }
body {
	margin:0;
	font-size: 80%;
	font-family:Tahoma;
	background:#FFF ; /*url('<?=form::mlink('img', SKN .'media'.SH.'seven.jpg')?>') top center repeat-x #FFF;*/

}

#page {
	position:relative;

	margin:0;
}

#ayabar,#playrDiv,#notification,input, textarea,select,#header, #logo,#logoText,#topbar{
	display:none;
}

#quranTab {
    position: relative;
	height:auto;
    margin: 0;
    padding: 10px;
    background:#FFF;/* url('<?=form::mlink('img', SKN .'media'.SH.'img_bg.png')?>');*/
    overflow:visible;
    z-index: 9107;
    background:#FFF;/* url('<?=form::mlink('img', SKN .'media'.SH.'img_bg.png')?>');*/
}

/************[ Container ]***************/
#contentdiv{
    position: relative;
	clear:both;
	padding:5px;
    margin: 5px;
	border:0px solid #777;
	background:#FFF ;/*url('<?=form::mlink('img', SKN .'media'.SH.'bg_page2.jpg')?>');*/
	z-index:107;
}

/*--- Page Table ---*/
#pageTable{
    margin: auto;
}
.jttl, .jttr, .jtbl, .jtbr { width: 23px;}
.jttc, .jtbc { height: 23px;}

.stateSpan{
    position: absolute ;
    top: 3px ;
    height: 15px;width:auto;
    background: #E9E9E9 ;border: 1px solid #973;
    color:#973 ; font:normal 10px 'tahoma' ;
    margin: 0 auto;padding: 3px 5px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.jttl{ background: url("<?=form::mlink('img',SKN.'media'.SH.'top_'.txt('align').'1.gif')?>") top <?=txt('align')?> no-repeat; }
.jttc{ background: url("<?=form::mlink('img',SKN.'media'.SH.'top1.gif')?>") top center repeat-x; }
.jttr{ background: url("<?=form::mlink('img',SKN.'media'.SH.'top_'.txt('align2').'1.gif')?>") top <?=txt('align2')?> no-repeat; }

.jtml{ background: url("<?=form::mlink('img',SKN.'media'.SH.txt('align').'1.gif')?>") center <?=txt('align')?> repeat-y; }
.jtmc{
    background: url("<?=form::mlink('img',SKN.'media'.SH.'bg_page.jpg')?>") center center;
    
}
/************[ Content ]***************/
#content{ 
	padding:5px;
    height: auto;
    overflow: auto;
    outline: none;
}
.sheader{
	display:block;
    height: 62px;
	border:1px solid #06F;
	background: transparent url('<?=form::mlink('img',SKN.'media'.SH.'bg_sura.png')?>') bottom center no-repeat;
	margin:2px;
	margin-bottom:5px;
    padding:0;
    text-align: center;
}
.sorder{
    display:inline;
    font:normal 12px tahoma;
    color: #333;
    margin:  5px;
    padding: 5px;
    
}
.sname{
    display:inline;
    font-family: 'raky';
	font-weight: normal;
    text-align: center;
    font-size: 190% ;
    line-height:42pt !important ;
    color: #377;
    margin:  5px;
    padding: 5px;
    
}
.sdesc{
    display:inline;
    font:normal 12px tahoma;
    color: #333;
    margin:  5px;
    padding: 5px;
    
}
.ytxt{
    display:inline;
    font-size: 22px ;
    font-family: 'raky' !important ;
	font-weight: normal;
    /*line-height:44pt;*/
    color: #800000 ;/*#FC0;*/
    
    
}
.yHover{
    color: #FF6600;
}
.ytxt:focus{
    color: #700000;
}
.ytxt_c{
	background: transparent ;/*url('<?=form::mlink('img',SKN.'media'.SH.'img_bg.png')?>') ;*/
	color:#04A928;
}
.jalalah{
	color: red;
}
.yctr{
    /*position:relative;*/
	font-family: "Traditional Arabic","Times New Roman";
    display: inline;
    font-size: 110% !important ;
	font-weight: normal;
    margin: 3px;
	padding:2px;
    color: #808080;
	/*background: transparent url('<?=form::mlink('img',SKN.'media'.SH.'aya_counter.png')?>') center center no-repeat;
*/
	}
.yctr_c{
	/*background : #ddd;*/
	color : #008000;
	text-decoration: underline;
}

/************[ page Table footer ]***************/

.jtmr{ background: url("<?=form::mlink('img',SKN.'media'.SH.txt('align2').'1.gif')?>") center <?=txt('align2')?> repeat-y; }

.jtbl{ background: url("<?=form::mlink('img',SKN.'media'.SH.'bottom_'.txt('align').'1.gif')?>") bottom <?=txt('align')?> no-repeat; }
.jtbc{ background: url("<?=form::mlink('img',SKN.'media'.SH.'bottom1.gif')?>") bottom center repeat-x; }
.jtbr{ background: url("<?=form::mlink('img',SKN.'media'.SH.'bottom_'.txt('align2').'1.gif')?>") bottom <?=txt('align2')?> no-repeat; }

/*--------------------------- Search result formatting ---------------------------*/

#resultHeader{
    background: #99CC00;
    <?=txt('align')?>: 300px;
    <?=txt('align2')?>: 300px;
    text-align: center;
    
}
.looked{
    font-weight: bold;
}
.result{
    display:block;
    margin:5px;
    padding: 5px;
    border-top:1px solid #AAA;
}
.resultbar{
    display: inline;
    top:-5px;
    width:auto;
    height:auto;
    padding:2px 5px;
    background: #FFFF99;
    border: 1px solid #777;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
 }
.resultinfo{
    color: #777;
    font: normal 10px tahoma;
}
.hightlight{
    background:#EEE !important;
}
.result .ytxt{
    font-size: 140% ;
    
 }
 
.pagingSpan{
    /*background: #339966;
    border: 1px solid #777;
    color: #FFFFFF;*/
    padding: 1px;
    margin: 1px;
    
}

/******************************************************[ Footer ]******************************************************/
#bottombar {
    position:relative;
	margin-top:20px;
	height:auto;
	overflow: visible;
}

/************[ OverAya ]***************/
#overAya{
	position:relative;
	height:auto;
	overflow: visible;
}

/********* Tafseer Div ********/

#tafseer{
	position:relative;
    padding: 5px;
    margin:5px ;
    color: #333;	
    font: 12px tahoma;
    text-align: justify;
	z-index:9109;
	height:auto;
}
/********* Player Div ********/




